
header {
  width: 100vw;
  max-width: 100%;
  height: 200px;
  background-color: var(--onyx);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 130px;
  margin: auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
}

.header-title {
  margin-left: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--steel);
}

.header-menu {
  color: var(--gray1);
}

.menu-icon {
  font-size: 18px;
  margin: auto 12px;
}

.user-icon {
  width: 40px;
  margin: auto auto auto 25px;
  border-radius: 5px;
}

nav {
  width: 95vw;
  height: 70px;
  margin: auto;
  background-color: var(--gray1);
  border-radius: 5px 5px 0 0;
}

main {
  width: 100vw;
  max-width: 100%;
  min-height: calc(100vh - 200px);
  background-color: var(--gray3);
}

.main-center {
  width: 95%;
  min-height: calc(100vh - 200px);
  margin: 0 auto;
  background: var(--gray2);
}
