/* ========== Variables ========== */

:root {
  --onyx: #191b2a;
  --steel: #595959;
  --gray1: #f9f9fc;
  --gray2: #f3f3ff;
  --gray3: #e1e1ef;
  --highlight: #40c0cb;
}


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
  outline-color: #6B7CB5;
  outline-width: thin;
}

a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

video,
img,
button,
a {
  box-sizing: border-box;
}
