.rep-text-area-container {
  width: 90%;
  max-width: 710px;
  height: 450px;
  margin: 50px auto;
  background: var(--onyx);
  border-radius: 5px;
  padding: 10px;
}

.rep-text-area {
  resize: none;
  width: 99%;
  min-height: 350px;
  border-radius: 5px;
  font-size: var(--variable-font);
  overflow-y: scroll;
}
